@media screen and (max-width:600px) {
    .excellence-hero-heading {
    font-size: 50px !important;
    font-weight: 700;
    line-height: 0.94;
    letter-spacing: -3.6px;
    color: #fff;
    margin-bottom: 34px;
    opacity: 0;
    animation: excellenceHeroSlideUp 1s var(--excellence-hero-transition-easing) 0.7s forwards;
}
}
@media screen and (min-width:1200px) and (max-width:1599px) {
    .container {
    max-width: 1200px !important;
}
.main-header .container-fluid {
    position: relative;
    max-width: 1200px !important;
}
.main-menu ul li a {
        padding: 12px 0 12px 12px !important;
        font-size: 14px !important;
    }
    .lap-none{
        display: none !important;
    }
        .tp-counter-item-title {
        font-size: 48px !important;
    }
}