@media screen and (max-width:600px) {
    .excellence-hero-heading {
    font-size: 50px !important;
    font-weight: 700;
    line-height: 0.94;
    letter-spacing: -3.6px;
    color: #fff;
    margin-bottom: 34px;
    opacity: 0;
    animation: excellenceHeroSlideUp 1s var(--excellence-hero-transition-easing) 0.7s forwards;
}
.tabcontent {
    display: none !important;
    padding: 30px;
    background-color: #fff;
}
}
@media screen and (min-width:1200px) and (max-width:1599px) {
    .main-menu ul li.mega-menu-item > .mega-menu {
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0.8);
    transform-origin: top;
    position: absolute;
    /* left: 50%; */
    left: 100% !important;
    transform: translateX(-50%) scaleY(0.8);
    top: 100%;
    background-color: #fff;
    min-width: 1400px !important;
    /* max-width: 1200px; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    z-index: 999;
    border-radius: 0 0 10px 10px;
    }
    .main-menu ul li .segment-tabs a {
    font-size: 11px !important;
    }
    .tabcontent .text-center div:last-child {
    font-size: 11px !important;
    }
    .container {
    max-width: 1200px !important;
}
.main-header .container-fluid {
    position: relative;
    max-width: 1200px !important;
}
.main-menu ul li a {
        padding: 12px 0 12px 12px !important;
        font-size: 14px !important;
    }
    .lap-none{
        display: none !important;
    }
        .tp-counter-item-title {
        font-size: 48px !important;
    }
}